# xmACIS2 Data Access & Analysis

In this example, we will use the get_data() function from xmacis2py to get the data for the March Air Reserves Base ASOS Station (KRIV) for the past 30 days.

We will then find the following:

1) Mean Maximum Temperature
2) Median Minimum Temperature
3) Mode Average Temperature
4) 25th Percentile Minimum Temperature
5) 75th percentile Minimum Temperature
6) Standard Deviation of Average Temperature
7) Variance of Average Temperature
8) Skewness of Maximum Temperature
9) Kurtosis of Maximum Temperature
10) Maximum Max Temperature
11) Minimum Min Temperature
12) Precipitation Sum
13) Top 5 Values for Average Temperature Departure
14) Bottom 5 Values for Average Temperature Departure
15) Ranking All Values from Top to Bottom for Average Temperature Departure
16) Precipitation Running Sum
17) Average Temperature Running Mean
18) Detrending Average Temperature (Linear)
19) Detrending Average Temperature (Constant)
20) Number of Days The Maximum Temperature >= 75 Degrees
21) Number of Days the Minimum Temperature <= 35 Degrees
22) Number of Missing Days for Maximum Temperature

***Analysis Tools Documentation***

1) [Period Mean](https://github.com/edrewitz/xmACIS2Py/blob/main/Documentation/xmACIS2.0/analysis_tools.md#period_mean)
2) [Period Median](https://github.com/edrewitz/xmACIS2Py/blob/main/Documentation/xmACIS2.0/analysis_tools.md#period_median)
3) [Period Mode](https://github.com/edrewitz/xmACIS2Py/blob/main/Documentation/xmACIS2.0/analysis_tools.md#period_mode)
4) [Period Percentile](https://github.com/edrewitz/xmACIS2Py/blob/main/Documentation/xmACIS2.0/analysis_tools.md#period_percentile)
5) [Period Standard Deviation](https://github.com/edrewitz/xmACIS2Py/blob/main/Documentation/xmACIS2.0/analysis_tools.md#period_standard_deviation)
6) [Period Variance](https://github.com/edrewitz/xmACIS2Py/blob/main/Documentation/xmACIS2.0/analysis_tools.md#period_variance)
7) [Period Skewness](https://github.com/edrewitz/xmACIS2Py/blob/main/Documentation/xmACIS2.0/analysis_tools.md#period_skewness)
8) [Period Kurtosis](https://github.com/edrewitz/xmACIS2Py/blob/main/Documentation/xmACIS2.0/analysis_tools.md#period_kurtosis)
9) [Period Maximum](https://github.com/edrewitz/xmACIS2Py/blob/main/Documentation/xmACIS2.0/analysis_tools.md#period_maximum)
10) [Period Minimum](https://github.com/edrewitz/xmACIS2Py/blob/main/Documentation/xmACIS2.0/analysis_tools.md#period_minimum)
11) [Period Sum](https://github.com/edrewitz/xmACIS2Py/blob/main/Documentation/xmACIS2.0/analysis_tools.md#period_sum)
12) [Period Rankings](https://github.com/edrewitz/xmACIS2Py/blob/main/Documentation/xmACIS2.0/analysis_tools.md#period_rankings)
13) [Running Sum](https://github.com/edrewitz/xmACIS2Py/blob/main/Documentation/xmACIS2.0/analysis_tools.md#running_sum)
14) [Running Mean](https://github.com/edrewitz/xmACIS2Py/blob/main/Documentation/xmACIS2.0/analysis_tools.md#running_mean)
15) [Detrend Data](https://github.com/edrewitz/xmACIS2Py/blob/main/Documentation/xmACIS2.0/analysis_tools.md#detrend_data)
16) [Number of Missing Days](https://github.com/edrewitz/xmACIS2Py/blob/main/Documentation/xmACIS2.0/analysis_tools.md#number_of_missing_days)
17) [Number of Days At Or Below Value](https://github.com/edrewitz/xmACIS2Py/blob/main/Documentation/xmACIS2.0/analysis_tools.md#number_of_days_at_or_below_value)
18) [Number of Days At Or Above Value](https://github.com/edrewitz/xmACIS2Py/blob/main/Documentation/xmACIS2.0/analysis_tools.md#number_of_days_at_or_above_value)
19) [Number of Days Below Value](https://github.com/edrewitz/xmACIS2Py/blob/main/Documentation/xmACIS2.0/analysis_tools.md#number_of_days_below_value)
20) [Number of Days Above Value](https://github.com/edrewitz/xmACIS2Py/blob/main/Documentation/xmACIS2.0/analysis_tools.md#number_of_days_above_value)
21) [Number of Days At Value](https://github.com/edrewitz/xmACIS2Py/blob/main/Documentation/xmACIS2.0/analysis_tools.md#number_of_days_at_value)

***Data Access Documentation***

1) [Get Data](https://github.com/edrewitz/xmACIS2Py/blob/main/Documentation/xmACIS2.0/data_access.md#xmacis2py-data-access)

# Importing xmACIS2Py

We will be using the `get_data()` function and `analysis` module.

In [1]:
from xmacis2py import(
    get_data,
    analysis
)

# Calling `get_data()` To Get Our Pandas.DataFrame

[`get_data()` Documentation](https://github.com/edrewitz/xmACIS2Py/blob/main/Documentation/xmACIS2.0/data_access.md#xmacis2py-data-access)

In [2]:
df = get_data('kriv')

In [3]:
df

,Date,Maximum Temperature,Minimum Temperature,Average Temperature,Average Temperature Departure,Heating Degree Days,Cooling Degree Days,Precipitation,Snowfall,Snow Depth,Growing Degree Days
0,2025-12-12,80,41,60.5,9.9,4,0,0.000,NaN,NaN,11
1,2025-12-13,78,40,59.0,8.4,6,0,0.000,NaN,NaN,9
2,2025-12-14,79,41,60.0,9.5,5,0,0.000,NaN,NaN,10
3,2025-12-15,80,38,59.0,8.5,6,0,0.000,NaN,NaN,9
4,2025-12-16,81,38,59.5,9.0,5,0,0.000,NaN,NaN,10
5,2025-12-17,74,42,58.0,7.5,7,0,0.000,NaN,NaN,8
6,2025-12-18,82,41,61.5,11.0,3,0,0.000,NaN,NaN,12
7,2025-12-19,82,40,61.0,10.5,4,0,0.000,NaN,NaN,11
8,2025-12-20,72,38,55.0,4.4,10,0,0.000,NaN,NaN,5
9,2025-12-21,77,39,58.0,7.4,7,0,0.000,NaN,NaN,8
10,2025-12-22,76,41,58.5,7.8,6,0,0.000,NaN,NaN,9
11,2025-12-23,60,46,53.0,2.3,12,0,0.001,NaN,NaN,3
12,2025-12-24,66,54,60.0,9.2,5,0,0.720,0.0,0.0,10
13,2025-12-25,65,46,55.5,4.6,9,0,0.000,0.0,0.0,6
14,2025-12-26,58,46,52.0,1.1,13,0,0.320,0.0,0.0,2
15,2025-12-27,58,40,49.0,-2.0,16,0,0.000,0.0,0.0,0
16,2025-12-28,64,33,48.5,-2.6,16,0,0.000,0.0,0.0,0
17,2025-12-29,67,41,54.0,2.8,11,0,0.000,0.0,0.0,4
18,2025-12-30,67,49,58.0,6.8,7,0,0.001,0.0,0.0,8
19,2025-12-31,66,52,59.0,7.7,6,0,0.250,0.0,0.0,9
20,2026-01-01,60,48,54.0,2.6,11,0,0.220,NaN,NaN,4
21,2026-01-02,66,51,58.5,7.0,6,0,0.010,NaN,NaN,9
22,2026-01-03,64,55,59.5,8.0,5,0,0.090,NaN,NaN,10
23,2026-01-04,60,53,56.5,4.9,8,0,0.300,NaN,NaN,7
24,2026-01-05,61,47,54.0,2.4,11,0,0.001,NaN,NaN,4
25,2026-01-06,62,40,51.0,-0.7,14,0,0.001,NaN,NaN,1
26,2026-01-07,63,42,52.5,0.8,12,0,0.000,NaN,NaN,3
27,2026-01-08,58,40,49.0,-2.8,16,0,0.000,NaN,NaN,0
28,2026-01-09,59,35,47.0,-4.8,18,0,0.000,NaN,NaN,0
29,2026-01-10,66,33,49.5,-2.3,15,0,0.000,NaN,NaN,0
30,2026-01-11,69,37,53.0,1.2,12,0,0.000,NaN,NaN,3

# Mean Maximum Temperature

In [4]:
mean_max_t = analysis.period_mean(df,
                    'Maximum Temperature',
                    round_value=True,
                    to_nearest=0,
                    data_type='integer')

In [5]:
mean_max_t

68

# Median Minimum Temperature

In [6]:
median_min_t = analysis.period_median(df,
                    'Minimum Temperature',
                    round_value=True,
                    to_nearest=0,
                    data_type='integer')

In [7]:
median_min_t

41

# Mode Average Temperature

In [8]:
mode_avg_t = analysis.period_mode(df,
                    'Average Temperature')

There are 3 modes in this dataset

In [9]:
mode_avg_t

0    54.0
1    58.0
2    59.0
Name: Average Temperature, dtype: float64

# 25th Percentile Minimum Temperature

In [10]:
p25 = analysis.period_percentile(df,
                                'Minimum Temperature',
                                round_value=True,
                                data_type='integer')

In [11]:
p25

40

# 75th Percentile Minimum Temperature

In [12]:
p75 = analysis.period_percentile(df,
                                'Minimum Temperature',
                                round_value=True,
                                data_type='integer',
                                percentile=0.75)

In [13]:
p75

46

# Average Temperature Standard Deviation

In [14]:
avg_t_sigma = analysis.period_standard_deviation(df,
                                                 'Average Temperature',
                                                 round_value=True,
                                                 to_nearest=1)

In [15]:
avg_t_sigma

4.2

# Average Temperature Variance

In [16]:
avg_t_variance = analysis.period_variance(df,
                                         'Average Temperature',
                                          round_value=True,
                                          to_nearest=1)

In [17]:
avg_t_variance

18.0

# Maximum Temperature Skewness

In [18]:
max_t_skewness = analysis.period_skewness(df,
                                         'Maximum Temperature')

In [19]:
max_t_skewness

0.4254463446050823

# Maximum Temperature Kurtosis

In [20]:
max_t_kurtosis = analysis.period_kurtosis(df,
                                          'Maximum Temperature')

In [21]:
max_t_kurtosis

-1.2687228141095157

# Maximum Max Temperature

In [22]:
max_max_t = analysis.period_maximum(df,
                                    'Maximum Temperature',
                                    data_type='integer')

In [23]:
max_max_t

82

Minimum Min Temperature

In [24]:
min_min_t = analysis.period_minimum(df,
                                    'Minimum Temperature',
                                    data_type='integer')

In [25]:
min_min_t

33

# Precipitation Sum

In [26]:
total_precipitation = analysis.period_sum(df,
                                          'Precipitation')

In [27]:
total_precipitation

1.91

# Top 5 Values for Average Temperature Departure

In [28]:
top_5_avg_temp_dep = analysis.period_rankings(df,
                                          'Average Temperature Departure',
                                           rank_subset='first')

In [29]:
top_5_avg_temp_dep

        Date  Average Temperature Departure
0 2025-12-18                           11.0
1 2025-12-19                           10.5
2 2025-12-12                            9.9
3 2025-12-14                            9.5
4 2025-12-24                            9.2

# Bottom 5 Values for Average Temperature Departure

In [30]:
bottom_5_avg_temp_dep = analysis.period_rankings(df,
                                          'Average Temperature Departure',
                                           rank_subset='last')

In [31]:
bottom_5_avg_temp_dep

        Date  Average Temperature Departure
0 2026-01-09                           -4.8
1 2026-01-08                           -2.8
2 2025-12-28                           -2.6
3 2026-01-10                           -2.3
4 2025-12-27                           -2.0

# Ranking All Values for Average Temperature Departure from Max to Min

In [32]:
rank_avg_temp_dep = analysis.period_rankings(df,
                                          'Average Temperature Departure')

In [33]:
rank_avg_temp_dep

         Date  Average Temperature Departure
0  2025-12-18                           11.0
1  2025-12-19                           10.5
2  2025-12-12                            9.9
3  2025-12-14                            9.5
4  2025-12-24                            9.2
5  2025-12-16                            9.0
6  2025-12-15                            8.5
7  2025-12-13                            8.4
8  2026-01-03                            8.0
9  2025-12-22                            7.8
10 2025-12-31                            7.7
11 2025-12-17                            7.5
12 2025-12-21                            7.4
13 2026-01-02                            7.0
14 2025-12-30                            6.8
15 2026-01-04                            4.9
16 2025-12-25                            4.6
17 2025-12-20                            4.4
18 2025-12-29                            2.8
19 2026-01-01                            2.6
20 2026-01-05                            2.4
21 2025-12-23                            2.3
22 2026-01-11                            1.2
23 2025-12-26                            1.1
24 2026-01-07                            0.8
25 2026-01-06                           -0.7
26 2025-12-27                           -2.0
27 2026-01-10                           -2.3
28 2025-12-28                           -2.6
29 2026-01-08                           -2.8
30 2026-01-09                           -4.8

# Precipitation Running Sum

In [34]:
running_sum = analysis.running_sum(df,
                                   'Precipitation')

In [35]:
running_sum

[np.float64(0.0),
 np.float64(0.0),
 np.float64(0.0),
 np.float64(0.0),
 np.float64(0.0),
 np.float64(0.0),
 np.float64(0.0),
 np.float64(0.0),
 np.float64(0.0),
 np.float64(0.0),
 np.float64(0.0),
 np.float64(0.36),
 np.float64(1.08),
 np.float64(1.08),
 np.float64(1.4000000000000001),
 np.float64(1.4000000000000001),
 np.float64(1.4000000000000001),
 np.float64(1.4000000000000001),
 np.float64(1.5250000000000001),
 np.float64(1.7750000000000001),
 np.float64(1.995),
 np.float64(2.005),
 np.float64(2.0949999999999998),
 np.float64(2.3949999999999996),
 np.float64(2.5949999999999998),
 np.float64(2.695),
 np.float64(2.695),
 np.float64(2.695),
 np.float64(2.695),
 np.float64(2.695),
 np.float64(2.695)]

# Average Temperature Running Mean

In [36]:
running_mean = analysis.running_mean(df,
                                     'Average Temperature')

In [37]:
running_mean

[60.5,
 59.75,
 59.833333333333336,
 59.625,
 59.6,
 59.333333333333336,
 59.642857142857146,
 59.8125,
 59.27777777777778,
 59.15,
 59.09090909090909,
 58.583333333333336,
 58.69230769230769,
 58.464285714285715,
 58.03333333333333,
 57.46875,
 56.94117647058823,
 56.77777777777778,
 56.8421052631579,
 56.95,
 56.80952380952381,
 56.88636363636363,
 57.0,
 56.979166666666664,
 56.86,
 56.63461538461539,
 56.48148148148148,
 56.214285714285715,
 55.89655172413793,
 55.68333333333333,
 55.596774193548384]

# Detrending Average Temperature Data (Linear)

In [38]:
linear_detrend_avg_t = analysis.detrend_data(df,
                                            'Average Temperature')

In [39]:
linear_detrend_avg_t

,Date,Maximum Temperature,Minimum Temperature,Average Temperature,Average Temperature Departure,Heating Degree Days,Cooling Degree Days,Precipitation,Snowfall,Snow Depth,Growing Degree Days,Average Temperature Detrended
0,2025-12-12,80,41,60.5,9.9,4,0,0.00,NaN,NaN,11,0.297379
1,2025-12-13,78,40,59.0,8.4,6,0,0.00,NaN,NaN,9,-0.895565
2,2025-12-14,79,41,60.0,9.5,5,0,0.00,NaN,NaN,10,0.411492
3,2025-12-15,80,38,59.0,8.5,6,0,0.00,NaN,NaN,9,-0.281452
4,2025-12-16,81,38,59.5,9.0,5,0,0.00,NaN,NaN,10,0.525605
5,2025-12-17,74,42,58.0,7.5,7,0,0.00,NaN,NaN,8,-0.667339
6,2025-12-18,82,41,61.5,11.0,3,0,0.00,NaN,NaN,12,3.139718
7,2025-12-19,82,40,61.0,10.5,4,0,0.00,NaN,NaN,11,2.946774
8,2025-12-20,72,38,55.0,4.4,10,0,0.00,NaN,NaN,5,-2.746169
9,2025-12-21,77,39,58.0,7.4,7,0,0.00,NaN,NaN,8,0.560887
10,2025-12-22,76,41,58.5,7.8,6,0,0.00,NaN,NaN,9,1.367944
11,2025-12-23,60,46,53.0,2.3,12,0,NaN,NaN,NaN,3,-3.825000
12,2025-12-24,66,54,60.0,9.2,5,0,0.72,0.0,0.0,10,3.482056
13,2025-12-25,65,46,55.5,4.6,9,0,0.00,0.0,0.0,6,-0.710887
14,2025-12-26,58,46,52.0,1.1,13,0,0.32,0.0,0.0,2,-3.903831
15,2025-12-27,58,40,49.0,-2.0,16,0,0.00,0.0,0.0,0,-6.596774
16,2025-12-28,64,33,48.5,-2.6,16,0,0.00,0.0,0.0,0,-6.789718
17,2025-12-29,67,41,54.0,2.8,11,0,0.00,0.0,0.0,4,-0.982661
18,2025-12-30,67,49,58.0,6.8,7,0,NaN,0.0,0.0,8,3.324395
19,2025-12-31,66,52,59.0,7.7,6,0,0.25,0.0,0.0,9,4.631452
20,2026-01-01,60,48,54.0,2.6,11,0,0.22,NaN,NaN,4,-0.061492
21,2026-01-02,66,51,58.5,7.0,6,0,0.01,NaN,NaN,9,4.745565
22,2026-01-03,64,55,59.5,8.0,5,0,0.09,NaN,NaN,10,6.052621
23,2026-01-04,60,53,56.5,4.9,8,0,0.30,NaN,NaN,7,3.359677
24,2026-01-05,61,47,54.0,2.4,11,0,NaN,NaN,NaN,4,1.166734
25,2026-01-06,62,40,51.0,-0.7,14,0,NaN,NaN,NaN,1,-1.526210
26,2026-01-07,63,42,52.5,0.8,12,0,0.00,NaN,NaN,3,0.280847
27,2026-01-08,58,40,49.0,-2.8,16,0,0.00,NaN,NaN,0,-2.912097
28,2026-01-09,59,35,47.0,-4.8,18,0,0.00,NaN,NaN,0,-4.605040
29,2026-01-10,66,33,49.5,-2.3,15,0,0.00,NaN,NaN,0,-1.797984
30,2026-01-11,69,37,53.0,1.2,12,0,0.00,NaN,NaN,3,2.009073

# Detrending Average Temperature Data (Constant)

In [40]:
constant_detrend_avg_t = analysis.detrend_data(df,
                                            'Average Temperature',
                                              detrend_type='constant')

In [41]:
constant_detrend_avg_t

,Date,Maximum Temperature,Minimum Temperature,Average Temperature,Average Temperature Departure,Heating Degree Days,Cooling Degree Days,Precipitation,Snowfall,Snow Depth,Growing Degree Days,Average Temperature Detrended
0,2025-12-12,80,41,60.5,9.9,4,0,0.00,NaN,NaN,11,4.903226
1,2025-12-13,78,40,59.0,8.4,6,0,0.00,NaN,NaN,9,3.403226
2,2025-12-14,79,41,60.0,9.5,5,0,0.00,NaN,NaN,10,4.403226
3,2025-12-15,80,38,59.0,8.5,6,0,0.00,NaN,NaN,9,3.403226
4,2025-12-16,81,38,59.5,9.0,5,0,0.00,NaN,NaN,10,3.903226
5,2025-12-17,74,42,58.0,7.5,7,0,0.00,NaN,NaN,8,2.403226
6,2025-12-18,82,41,61.5,11.0,3,0,0.00,NaN,NaN,12,5.903226
7,2025-12-19,82,40,61.0,10.5,4,0,0.00,NaN,NaN,11,5.403226
8,2025-12-20,72,38,55.0,4.4,10,0,0.00,NaN,NaN,5,-0.596774
9,2025-12-21,77,39,58.0,7.4,7,0,0.00,NaN,NaN,8,2.403226
10,2025-12-22,76,41,58.5,7.8,6,0,0.00,NaN,NaN,9,2.903226
11,2025-12-23,60,46,53.0,2.3,12,0,NaN,NaN,NaN,3,-2.596774
12,2025-12-24,66,54,60.0,9.2,5,0,0.72,0.0,0.0,10,4.403226
13,2025-12-25,65,46,55.5,4.6,9,0,0.00,0.0,0.0,6,-0.096774
14,2025-12-26,58,46,52.0,1.1,13,0,0.32,0.0,0.0,2,-3.596774
15,2025-12-27,58,40,49.0,-2.0,16,0,0.00,0.0,0.0,0,-6.596774
16,2025-12-28,64,33,48.5,-2.6,16,0,0.00,0.0,0.0,0,-7.096774
17,2025-12-29,67,41,54.0,2.8,11,0,0.00,0.0,0.0,4,-1.596774
18,2025-12-30,67,49,58.0,6.8,7,0,NaN,0.0,0.0,8,2.403226
19,2025-12-31,66,52,59.0,7.7,6,0,0.25,0.0,0.0,9,3.403226
20,2026-01-01,60,48,54.0,2.6,11,0,0.22,NaN,NaN,4,-1.596774
21,2026-01-02,66,51,58.5,7.0,6,0,0.01,NaN,NaN,9,2.903226
22,2026-01-03,64,55,59.5,8.0,5,0,0.09,NaN,NaN,10,3.903226
23,2026-01-04,60,53,56.5,4.9,8,0,0.30,NaN,NaN,7,0.903226
24,2026-01-05,61,47,54.0,2.4,11,0,NaN,NaN,NaN,4,-1.596774
25,2026-01-06,62,40,51.0,-0.7,14,0,NaN,NaN,NaN,1,-4.596774
26,2026-01-07,63,42,52.5,0.8,12,0,0.00,NaN,NaN,3,-3.096774
27,2026-01-08,58,40,49.0,-2.8,16,0,0.00,NaN,NaN,0,-6.596774
28,2026-01-09,59,35,47.0,-4.8,18,0,0.00,NaN,NaN,0,-8.596774
29,2026-01-10,66,33,49.5,-2.3,15,0,0.00,NaN,NaN,0,-6.096774
30,2026-01-11,69,37,53.0,1.2,12,0,0.00,NaN,NaN,3,-2.596774

# Number of Days Maximum Temperature >= 75 Degrees

In [42]:
above_75 = analysis.number_of_days_at_or_above_value(df,
                                                     'Maximum Temperature',
                                                     75)

In [43]:
above_75

9

# Number of Days Minimum Temperature <= 35 Degrees

In [44]:
below_35 = analysis.number_of_days_at_or_below_value(df,
                                                     'Minimum Temperature',
                                                     35)

In [45]:
below_35

3

# Number of Missing Days For Maximum Temperature

In [46]:
missing_days = analysis.number_of_missing_days(df,
                                               'Maximum Temperature')

In [47]:
missing_days

0